*{
    margin: 0;
    padding: 0;
}

#header1 {

    background-color: cadetblue;
    height: 300px;
    width: 100%;


}


.li1 {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    width: 100px;
    color: rgb(29, 28, 28);
    text-decoration: none;
    float: right;
    
}


.li1>a {
    text-decoration: none;
    color: black;


}

.li1:hover {

    color: red;
    cursor: pointer;
    text-decoration: underline;

}


.li1>a:hover {
    color: red;
    cursor: pointer;
    text-decoration: underline
    

}

.li2 {
    list-style-type: none;
    display: inline-block;
    margin: 10px;
    width: 100px;
    color: rgb(29, 28, 28);
    text-decoration: none;
    float: left;
}

.li2:hover {

    color: red;
    text-decoration: underline;
    cursor: pointer;
}

#h11,
#h33 {

    clear: both;
    text-align: center;
    color: cornsilk;
    padding: 15px;
    padding-bottom: 25px;

}


#search1 {

    width: 50%;
    height: 50px;
    /* text-align: center; */
    margin-left: 200px;
    border-radius: 10px;
    border: none;
}

#btn1 {
    width: 10%;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color: darkgoldenrod;
    font-size: 22px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #203152;

}
#btn1:hover{

    background-color: rgb(185, 180, 107);
    color: white;

}
.clh , .hh{

    margin-top: 30px;
    margin-left: 50px;
    color: rgb(121, 70, 70);


}
.imgg{
    margin-top: 8px;
margin-left: 20px;

border-radius: 5px;
width: 220px;
}
#div2{

    margin-left: 65px;
}
#div3 {

background-color:rgb(255, 255, 255);
height: 500px;
width: 40%;
margin-left: 5%;
float: left;


}
#div4 , #div5 , #div7 , #div8{
background-color: rgb(226, 223, 223);
height: 235px;
border-radius: 15px;
border-bottom: blue solid 2px;
border-left: blue solid 2px;
float: left;
border: white 5px solid;
width: 590px;



}


 /* #div7 , #div8{
    background-color: rgb(226, 223, 223);
    height: auto;
    border-radius: 15px;
    border-bottom: blue solid 2px;
    border-left: blue solid 2px;
    float: left;
    border: white 5px solid;
    width: 500px;
} */

.img2 , .img3{

border-radius: 15px;
float: left;


}
.sp , .sp2{

    font-size: 20px;
    color: rgb(20, 88, 156);
   /* padding-top: 50px; */
   margin-left: 230px;
   margin-top: 50px;
   /* padding-top: 10px; */
 

  
    

}
#div6 {

    background-color:rgb(255, 255, 255);
    height: 500px;
    width: 40%;
    /* margin-left: 5%; */
    float: right;
    margin-right: 10%;
    
    
    }
      .btn2 { 
        width: 15%;
        height: 40px;
        font: bold;
        border: none;
        border-radius: 10px;
        background-color:midnightblue;
        color: white;
        /* margin-left: 490px; */
         /* margin-bottom: 40px; */
         /* transform: translateY(50px);
         transform: translateX(250px); */
         transform: translate(270px , 10px);

     /* margin-bottom: 50px;    */


    
    
     } 
    .x1{

        margin-top: 30px;
        margin-left: 230px;
        color: rgb(20, 88, 156);
        font: bold;
        font-size: large;
    }

    .flex {
        display: flex;
        flex-flow: row wrap;
      }
  
      footer {
        background: rgb(94, 107, 122);
        margin-top: auto;
        width: 100%
      }
  
      .footer-list-top {
        width: 33%
      
      }
  
      .footer-list-top>li {
        text-align: center;
        padding-bottom: 10px;
        list-style-type: none;
      }
  
      .footer-list-header {
        padding: 10px 0 5px 0;
        color: #fff;
      }
  
      .footer-list-anchor {
        font: 1.3em "Open Sans", sans-serif;
        color: black;
      }
  
      .social {
        color: white;
  
  
      }